<h2>Cart</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Наименование</th>
      <th>Количество</th>
      <th>Цена</th>
      <th>Сумма</th>
    </tr>
  </thead>
  <tbody>
  <% total_price = 0 %>
  <% total_qty = 0 %>
  <% @orders.each_with_index do |prod, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= prod[0].title %></td>
      <td><%= prod[1] %></td>
      <td><%= prod[0].price %></td>
      <td><%= prod[0].price * prod[1].to_i %></td>
    </tr>
  <% total_price += prod[0].price * prod[1].to_i %>
  <% total_qty += prod[1].to_i %>
  <% end %>
    <tr>
      <td></td>
      <td>Итого:</td>
      <td><%= total_qty %></td>
      <td></td>
      <td><%= total_price %> руб.</td>
    </tr>
  </tbody>
</table>
