<h2>Welcome to Pizza Shop</h2>
  <div class="row">
    <% @products.each do |prod| %>
      <div class="col-sm-6 col-md-3"  href="#">
        <div class="thumbnail"  href="#">
          <img src="<%= prod.path_to_image %>" alt="..." class="img-circle" style="width: 140px; height: 140px;">
          <div class="caption">
            <h4><%= prod.title %></h4>
            <p>Размер: <%= prod.size.to_i %> см</p>
            <p>Цена: <%= prod.price %> руб.</p>
<!--            <p><%#= prod.description %></p>-->
            <p><a href="#" class="btn btn-primary" role="button">Купить в 1 клик</a> <a class="btn btn-default" role="button" onclick="add_to_cart(<%= prod.id %>)">В корзину</a></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<button class="btn btn-primary btn-lg" onclick="something()">Click me</button>
